In [10]:
import options as opt
import numpy as np
from typing import Callable
import pandas as pd

In [11]:
spot = 41.0
strike = 40.0
expiry = 1
vol = 0.3
rate = 0.08
div = 0.0
num = 200

In [12]:
binomial_call = opt.european_binomial_pricer(spot, strike, expiry, rate, div, vol, num, payoff=opt.call_payoff)
binomial_put = opt.european_binomial_pricer(spot, strike, expiry, rate, div, vol, num, payoff=opt.put_payoff)
black_scholes_call = opt.black_scholes_call(spot, strike, expiry, rate, div, vol)
black_scholes_put = opt.black_scholes_put(spot, strike, expiry, rate, div, vol)

In [17]:
def monte_carlo_sim(spot:float, strike:float, expiry: int, vol:float, rate:float, div:float, payoff: Callable, M:int):

    discounted_means = np.zeros(M)
    standard_errors = np.zeros(M)

    # call simulation function for M paths
    for num_simulations in M:
        terminal_prices = np.zeros(M)
        # get M binomial paths
        for i in range(num_simulations):
            terminal_prices[i] = opt.binomial_path(spot, expiry, rate, div, vol, num)[-1]

        option_payoffs = payoff(terminal_prices, strike)

        average_payoff = np.mean(option_payoffs)
        standard_error_payoff = np.std(option_payoffs) / np.sqrt(M)

        discount_factor = np.exp(-rate * expiry)
        discounted_mean = average_payoff * discount_factor

        discounted_means[i] = discounted_mean
        standard_errors[i] = standard_error_payoff

    results = pd.DataFrame({'Mean':discounted_means, 'Standard Error':standard_errors})
    return(results)

In [18]:
# M = [10000, 25000, 50000, 75000, 100000]
M = [10000]
monte_carlo_call = monte_carlo_sim(spot, strike, expiry, vol, rate, div, opt.call_payoff, M)
monte_carlo_put = monte_carlo_sim(spot, strike, expiry, vol, rate, div, opt.put_payoff, M)

# Conclusion

In [19]:
monte_carlo_call

          Mean  Standard Error
0     0.000000        0.000000
1     0.000000        0.000000
2     0.000000        0.000000
3     0.000000        0.000000
4     0.000000        0.000000
...        ...             ...
9995  0.000000        0.000000
9996  0.000000        0.000000
9997  0.000000        0.000000
9998  0.000000        0.000000
9999  7.221174        0.110724

[10000 rows x 2 columns]